/thesis.mtc*
/thesis.aux
/thesis.bbl
/thesis.bcf
/thesis.blg
/thesis.lof
/thesis.log
/thesis.lot
/thesis.maf
/thesis.out
/thesis.run.xml
/thesis.tex~
/thesis.toc
/_minted-thesis/
**/*.aux
**/*.log
**/*.tex
/Figs/behavior_over_time/plotTotalChargeOverTime/*.tex